<div>
  <p> <%- book.title%> </p>
  <img src="<%= book.image%>" alt="book image" width="82" height="109">
  <a href="<%= book.link%>" target="_blank">자세히 보기</a>
  <span><%- book.author  %> </span>
  <span><%- book.publisher  %> </span>
  <span><%- book.pubdate  %> </span>
  <span><%- book.isbn  %> </span>

</div>